@use '@/app/styles/variables' as vars;

.container {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: vars.$gradient-primary;
}
.allPlaylists {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}
.searchContainer {
    display: flex;
    align-items: center;
    gap: 24px;
}
