@use '@/app/styles/variables' as vars;
.container {
    width: 513px;
}
.searchWrapper {
    position: relative;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .label {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 24px;
    }
    .title {
        font-weight: 500;
        font-size: 14px;
        .counter {
            text-decoration: underline;
        }
    }
}
.searchContainer {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: vars.$color-graphite;
    border: 1px solid vars.$color-gray;
    gap: 12px;
    border-radius: 4px;
}
.search {
    width: 100%;
    &::placeholder {
        color: vars.$color-gray;
    }
}
.toggler {
    width: 24px;
    height: 24px;
    .icon {
        width: 24px;
        height: 24px;
    }
}
