@use '@/app/styles/variables' as vars;
.container {
    width: 513px;
    padding: 8px;
    position: relative;
    background-color: vars.$color-graphite;
    border: 1px solid vars.$color-gray;
    border-radius: 4px;
}
.searchContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}
.search {
    border: 1px solid white;
    width: 100%;
    &::placeholder {
        color: vars.$color-gray;
    }
}
.toggler {
    width: 24px;
    height: 24px;
    .icon {
        width: 24px;
        height: 24px;
    }
}
