@use '@/app/styles/variables' as vars;

.container {
    width: 265px;
    height: 285px;
    padding: 8px;
    background-color: #07070780;
    border-radius: 15px;
    transition: 0.4s ease-out;

    &:hover {
        transform: translateY(7px);
        box-shadow: 0 7px 7px rgba(vars.$color-white, 0.5);
    }
}
