@use '@/app/styles/variables' as vars;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: vars.$color-gray;
}

.headerLeft {
    display: flex;
    gap: 24px;
}

.headerRank {
    font-size: 22px;
    line-height: 100%;
}

.headerTitle {
    font-size: 18px;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 248px;
}

.headerDate {
    font-size: 16px;
}

.list {
    border-top: 1px solid #666666;
    width: 100%;
    padding-left: 20px;
}
