@use '@/app/styles/variables' as vars;

.container {
    width: 100%;
    position: relative;
}
.textField {
    width: 100%;
    background: vars.$color-graphite;
    border: 1px solid vars.$color-gray;
    border-radius: 4px;
    color: vars.$color-white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    &::placeholder {
        color: vars.$color-white;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

.lg {
    height: 55px;
    padding: 16px 44px;
}

.md {
    height: 40px;
    padding: 11px 44px;
}

.icon {
    position: absolute;
    top: 54%;
    left: 11px;
    transform: translateY(-50%);
    pointer-events: none;
    width: 18px;
    height: 18px;
}
