@use '@/app/styles/mixins' as vars;

.arrow {
    width: 16px;
    height: 16px;
}

.list {
    @include vars.dropdown(136px, 45px, 70%, 16px);
}
.list.open {
    @include vars.dropdown-open(110px);
}
