@use '@/app/styles/mixins' as vars;

.arrow {
    width: 16px;
    height: 16px;
}

.list {
    @include vars.dropdown(136px, 45px, 70%, 16px);
}
.list.open {
    @include vars.dropdown-open(110px);
}
.item {
    display: flex;
    align-items: center;
    gap: 8px;
}
.icon {
    width: 18px;
    height: 18px;
}
.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}
