@use '@/app/styles/variables' as vars;
.playlist {
    width: 100%;
    padding: 32px;
    background: vars.$gradient-gold;
}
.playlistInfo {
    display: flex;
}
.cover {
    width: 300px;
    height: 300px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.playlistMeta {
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px 32px 32px 32px;
}
.list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}
.item {
    background-color: #121212;
    border-radius: 45px;
    font-weight: 500;
    font-size: 12px;
    padding: 8px 20px;
}
.playlistTitle {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 10px;
}
.playlistDescription {
    font-size: 14px;
    max-width: 1025px;
    margin-bottom: 12px;
}
.user {
    margin-bottom: 12px;
}
.owner {
}
.content {
}
.search {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}
.playButton {
    width: 72px;
    height: 72px;
}
.moreButton {
    width: 44px;
    height: 44px;
}
.moreIcon {
    width: 44px;
    height: 44px;
}
