@use '@/app/styles/variables' as vars;
.trackPagePlaylistItem {
    display: flex;
    align-items: center;
    gap: 30px;
}

.trackPagePlaylistImageWrapper {
    width: 52px;
    aspect-ratio: 1 / 1;
}

.trackPagePlaylistImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trackPagePlaylistInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.trackPagePlaylistTitle {
    font-size: 20px;
    line-height: 1;
}

.trackPagePlaylistOwner,
.trackPagePlaylistTrackCount {
    font-size: 18px;
    line-height: 1;
    color: vars.$color-gray;
}
