.trackPageHeader {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.trackPageCover {
    width: 300px;
    height: 300px;
}

.trackPageCoverImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trackPageMeta {
    display: flex;
    flex-direction: column;
    padding: 10px 32px 32px 32px;
}

.trackPageTitle {
    margin-top: 24px;
    margin-bottom: 110px;
    font-weight: 900;
    font-size: 60px;
    line-height: 1;
}

.trackPageArtist {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 13px;
}

.trackPageReleaseDate {
    font-size: 18px;
    line-height: 100%;
}
