@use '@/app/styles/variables' as vars;

.container {
    width: 300px;
    position: relative;
}
.selectHeader {
    display: flex;
    align-items: center;
    gap: 8px;
}
.sortBy {
    font-size: 18px;
    line-height: 100%;
}
.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-decoration: underline;
}
.icon {
    width: 14px;
    height: 14px;
}
.list {
    width: 136px;
    padding: 16px;
    position: absolute;
    top: 30px;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    background-color: vars.$background-primary;
    transform: translatex(-50%) translateY(-4px);
    border: 1px solid vars.$color-white;
    z-index: 20;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition:
        max-height 0.25s ease,
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0s linear 0.25s;
}
.list.open {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
    transition:
        max-height 0.25s ease,
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0s;
}
.item {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}
