@use '@/app/styles/mixins' as var;

.container {
    width: 300px;
    position: relative;
}
.selectHeader {
    display: flex;
    align-items: center;
    gap: 8px;
}
.sortBy {
    font-size: 18px;
    line-height: 100%;
}
.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-decoration: underline;
}
.icon {
    width: 14px;
    height: 14px;
}
.list {
    @include var.dropdown(136px, 30px, 50%, 8px, center);
}
.list.open {
    @include var.dropdown-open(300px);
}
.item {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}
