@use '@/app/styles/variables' as vars;
.track {
    background: vars.$gradient-red;
    padding: 32px;
}
.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.cover {
    width: 300px;
    height: 300px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.meta {
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px 32px 32px 32px;
}
.trackTitle {
    margin-top: 24px;
    margin-bottom: 110px;
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
}
.owner {
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 13px;
}
.release {
    font-size: 18px;
    line-height: 100%;
}
.reaction {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 43px;
}
.play {
    width: 72px;
    height: 72px;
}
.more {
    width: 44px;
    height: 44px;
}
.search {
    max-width: 986px;
    margin-bottom: 24px;
}
.label {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 18px;
}
